# version: '3.8'  # Compose file version (obsolete in newer Docker Compose versions)

services:

  backend:  # Spring Boot backend service
    build:
      context: .  # Path to backend Dockerfile (current directory)
      dockerfile: Dockerfile
    container_name: spring-backend  # Optional, sets a friendly container name
    ports:
      - "8080:8080"  # Map host port 8080 to container port 8080
    environment:
      - SPRING_PROFILES_ACTIVE=prod  # Optional env variable for Spring

  frontend:  # React frontend service
    build:
      # Usa variable de entorno FRONTEND_PATH o ruta por defecto
      # En Windows: $env:FRONTEND_PATH="C:\Users\diego\java-front-react\Front-JDK21"
      # En Linux/Mac: export FRONTEND_PATH="/ruta/al/frontend/Front-JDK21"
      #context: ${FRONTEND_PATH:-../../java-front-react/Front-JDK21}  # Path to frontend Dockerfile
      context: ../../java-front-react/Front-JDK21  # Path to frontend Dockerfile
      dockerfile: Dockerfile
    container_name: react-frontend  # Friendly container name
    ports:
      - "3000:80"  # Map host port 3000 to container port 80 (Nginx)
    depends_on:
      - backend  # Ensure backend starts before frontend(Revisar rutas)